<div>
    <h1>Angular @2 template</h1>
    <h3>{{ message }}</h3>
    <h2>Data List generated from component</h2>
    <ul>
        <li *ngFor="let dataList of data.list">{{dataList.name}}</li>
        <li *ngIf="data.list.length > 2">List More Than 2</li>
    </ul>
    <h2>Data List generated from service injectable</h2>
    <ul>
        <li *ngFor="let dataList of dataList" (click)="bindToInput(dataList)">{{dataList.name}}</li>
        <li *ngIf="dataList.length > 2">List More Than 2</li>
    </ul>
    <h2>Current Emitted Value</h2>
    <p>{{emitted.name}}</p>
    <input [(ngModel)]="curentList.name" />

    <data-list [curentList]="curentList" (emitter)="emittedFromChild($event)"></data-list>
    <h2>Simple Component Routing</h2>
    <nav>
        <a routerLink="/routeComponent1" routerLinkActive="active">Component 1</a>
        <a routerLink="/routeComponent2" routerLinkActive="active">Component 2</a>
    </nav>
    <router-outlet></router-outlet>
    <h2>Http Servive</h2>
    <http-service></http-service>
</div>